@import "tailwindcss";

@theme {
  --color-beige: #F5F5DC;
  --color-dirt-light: #b88c5a;
  --color-dirt-dark: #7b5232;
}
.leaf {
  background: linear-gradient(180deg, rgba(37, 99, 1, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
  clip-path: polygon(50% 0%, 90% 20%, 100% 50%, 90% 80%, 50% 100%, 10% 80%, 0% 50%, 10% 20%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
}
.left {
  transform: rotate(-30deg);
  transform-origin: center;
}
.right {
  transform: rotate(30deg);
  transform-origin: center;
}
html, body {
  margin: 0;
  padding: 0;
}